<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>hogwarts Students</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/hogwarts">Main Page</a></li>
        <li><a href="/hogwarts/students">All Students</a></li>
        <li><a href="/hogwarts/students/new">Create New Student</a>
</li>
        <li><a href="/hogwarts/houses">All Houses</a></li>
        <li><a href="/hogwarts/houses/new">Create New House</a>
</li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
