<form  action="/hogwarts/houses" method="post">
  <label for="house-name">House  Name:</label>
  <input type="text" id ="house-name" name="house_name" value="">

  <label for="logo-url">logo_url:</label>
  <input type="text" id="logo-url" name="logo_url" value="">

<input type="submit" value="create house">
</form>
